BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
PointerAlignment: Left
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
NamespaceIndentation: All
SortIncludes: true
ReflowComments: true
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false
SpacesInCStyleCast: false
SpacesBeforeTrailingComments: 2